<!DOCTYPE >
<html>
<head>
	<title>AngularJs</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular.min.js"></script>
	<script type="text/javascript" src="app.js"></script>
	<style type="text/css">
		html,body {
  min-height: 100%;
  overflow: auto;
}
	</style>
</head>
<body ng-app="myApp" ng-controller="angularDemo">
	<div class="container" style="width: 60%;background-color: grey">
		<div class="row">
			<div class="col-md-10 form-group">
				<h1 class="text-center" style="color:black">{{name}}</h1>
			</div>
			<div class="col-md-2 form-group"  style="margin-top: 2.5%;">
				<button class="btn btn-primary pull-right" ng-click="directiveAdd()">add</button>
			</div>
		</div>
		
				
		<div class="row">
			<div class="col-md-9 form-group">
				<input type="tex" class="form-control" name="titled" ng-model='titled' placeholder="Question">
			</div>
			<div class="col-md-3 form-group">
				<select ng-model="dropdownVal" class="form-control" ng-options="optio.value as optio.name for optio in typeOptions">
				</select>
			</div>
		</div>
		<div class="row" ng-show="dropdownVal=='one'"> 
			<div class="col-md-10 form-group">
				<input type="tex" class="form-control" name="titled" ng-model='item.value' placeholder="One-Option-1 ">
				<br>

       					<div class="row" ng-repeat="item in inputs">
       						<div class="col-md-1 form-group">
       							
       						</div>
       						<div class="col-md-9 form-group">
       							<input ng-model="item.value" class="form-control" placeholder="One-Option-{{$index+2}}" \>
       						</div>
         					<div class="col-md-2 form-group">
         						<button class="btn btn-danger" ng-click="deleteField($index)" class="text-center">Delete</button>
         					</div>
         					<br>
         					
       					</div>
     			 <button class="btn btn-success" ng-click="addField()">Add field</button>
			</div>
		</div>
		<div id="d">
			<hr>
		</div>

			
			<!-- <div class="col-md-12 form-group" ng-show="dropdownVal=='two'">
				2<input type="tex" class="form-control" name="titled" ng-model='titled' placeholder="Type the two">
			</div>
			<div class="col-md-12 form-group" ng-show="dropdownVal=='three'">
				3	<input type="tex" class="form-control" name="titled" ng-model='titled' placeholder="Type the three">
			</div> -->
	</div>

</body>
</html>