<!DOCTYPE html>
<html>
<head>
	<title>AngularJS</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  		<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></script> -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.min.js"></script>

      <script type="text/javascript" src="app.js"></script>
      <style type="text/css">
      	 input.ng-invaild{border:1px red solid;}
      	.error{
      		/*width: 80%;*/
      		color: red;
      	}
      	button{
  			margin:auto;
  			display:block;
		}
      </style>

</head>
<body  ng-app='app' ng-controller="registration">
	<div class="container" style="background-color: white;width: 60%" >
		<h1 class="text-center" style="color:black">REGISTRATION FORM</h1>
		<br>
		<br>
		<form name="myForm"  ng-submit="submitForm(myForm.$valid)" novalidate>
		    <input type="text" class="form-control text-center" id="fname"  name="fname" ng-model="user.fname" placeholder="Enter First Name" required>
		    <p class="error text-center" ng-show="myForm.fname.$touched && myForm.fname.$invalid">First Name Required</p>
		    <br>
		    <br>
		    <br>
		    <input type="text" class="form-control text-center" id="lname"  name="lname" ng-model="user.lname" placeholder="Enter Last Name" required>
		    <p class="error text-center" ng-show="myForm.lname.$touched && myForm.lname.$invalid">Last Name Required</p>
		    <br>
		    <br>
		    <br>
		     <input type="email" class="form-control text-center" id="email"  name="email" ng-model="user.email" placeholder="mail@example.com" required>
		    <p class="error text-center" ng-show="myForm.email.$error.required && myForm.email.$invalid && myForm.email.$touched">Email Name Required</p>
		    <p class="error text-center" ng-show="myForm.email.$error.email ">Invaild email</p>
		    <br>
		    <br>
		    <br>
		    <button class="btn btn-success text-center" ng-click="resetForm()">reset</button>
		    <button class="btn btn-success text-center" ng-disabled="myForm.$invalid">Submit</button>
		    <tt>text = {{user.email}}</tt><br/>
		    <tt>myForm.email.$valid = {{myForm.email.$valid}}</tt><br/>
		    <tt>myForm.email.$error = {{myForm.email.$error}}</tt><br/>
		    <tt>myForm.$valid = {{myForm.$valid}}</tt><br/>
		    <tt>myForm.$error.required = {{!!myForm.$error.required}}</tt><br/>
		    <tt>myForm.$error.email = {{!!myForm.$error.email}}</tt><br/>
		    <!-- <input type="email" class="form-control text-center" id="emailId"  name="email" ng-model="email" placeholder="Enter email" style="width: 80%">
		    <input type="email" class="form-control text-center" id="emailId"  name="email" ng-model="email" placeholder="Enter email" style="width: 80%">
		    <input type="email" class="form-control text-center" id="emailId"  name="email" ng-model="email" placeholder="Enter email" style="width: 80%"> -->
		</form>
	</div>
	
		

</body>
</html>