		<div class="col-md-12 form-group">
			<button class="btn btn-danger pull-right" ng-click="deleteDirective($event)"><i class="glyphicon glyphicon-trash"></i></button>
		</div>
		
		<div class="row">
			<div class="col-md-9 form-group">
				<input type="tex" class="form-control" name="titled" ng-model='titled' placeholder="Question">
			</div>
			<div class="col-md-3 form-group">
				<select ng-model="dropdownVal" class="form-control" ng-options="optio.value as optio.name for optio in typeOptions">
				</select>
			</div>
		</div>
		<div class="row" ng-show="dropdownVal=='one'"> 
			<div class="col-md-10 form-group">
				<input type="tex" class="form-control" name="titled" ng-model='item.value1' placeholder="One-Option-1 ">
				<br>

       					<div class="row" ng-repeat="item in inputs">
       						<div class="col-md-1 form-group">
       							
       						</div>
       						<div class="col-md-9 form-group">
       							<input ng-model="item.value{{$index+2}}" class="form-control" placeholder="One-Option-{{$index+2}}" \>
       						</div>
         					<div class="col-md-2 form-group">
         						<button class="btn btn-danger" ng-click="deleteField($index)" class="text-center">Delete</button>
         					</div>
         					<br>
         					
       					</div>
     			 <button class="btn btn-success" ng-click="addField()">Add field</button>
			</div>
		</div>
		<div id="d"><hr></div>